<a href="https://colab.research.google.com/github/srikantp/srikantp.github.io/blob/main/euler_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p>Find the sum of all the multiples of $3$ or $5$ below $1000$.</p>

In [ ]:
sum ( [ i if i%3==0 or i%5==0 else 0 for i in range(1000)] )

233168

<p>By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.</p>

In [ ]:
i, j, s = 1,2, 0

while (j<4e6):
  i,j = j, i+j
  if i%2 ==0:
    s+=i

print(s)

4613732

<p>What is the largest prime factor of the number $600851475143$?</p>

In [ ]:
n = 600851475143

#n = 60

def prime_Factorize(n):
  t = n
  # build a dictionary of factors
  f = {}
  i =2
  while (t!=1):
    while t % i == 0:
      if i in f:
        f[i] = f[i]+1
      else:
        f[i]=1
      t = t/i
    i = i + 1

# print (i)
  return f

# print (prime_Factorize(n))
print (max([ k for k in prime_Factorize(n)]) )

6857

<p>Find the largest palindrome made from the product of two $3$-digit numbers.</p>

In [ ]:
maxpal = -1

for i in range(100,1000):
  for j in range(100,1000):
    t = i * j

    if t > maxpal :
      s =str(t)
      n = len(s)
      halfn = int(n/2)
      isPal = True
      for k in range(halfn):
        if s[k] != s[n-1-k]:
          isPal = False
          break
      if isPal :
        if t > maxpal:
          maxpal = t

print ( maxpal)

906609

<p>What is the smallest positive number that is evenly divisible by all of the numbers from $1$ to $20$?</p>

In [ ]:
import math

N = 20 +1
nums = [ i for i in range(2,N )]

def is_prime(x):
  if ( x==2 or x == 3):
    return True
  if (x % 6 == 0 or x % 6 == 2 or x % 6 == 3 or x % 6 == 4):
    return False
  is_prime = True
  for i in range (2, int(math.sqrt(x))+1 ):
    if x % i == 0 :
      return False
  return True

p = 1
for i in nums:
  if is_prime(i):
    k =  i ** int(math.log(N,i))
    p = p* k

print(p)

232792560

<p>Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.</p>

In [ ]:
s0, s1, s2 = 0 , 0, 0
for i in range(100+1):
  s0 += 1
  s1 += i
  s2 += i*i

print (s2 - s1*s1)

-25164150

<p>What is the $10\,001$st prime number?</p>

In [ ]:
n = 0

i =2
while True:
  if is_prime(i):
    n = n +1
    if n == 10001:
      break
  i = i +1

print(i)

104743

Find the thirteen adjacent digits in the -digit number that have the greatest product. What is the value of this product?

In [ ]:
s="""73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450"""

s= s.replace("\n", "")

maxprod = -1
loc = -1

i=0
while i < len(s)-12:
  prod = 1
  if s[i+12] == "0" :
    i = i + 13
#   print (i, "jump")
  else:
    for j in range(i,i+13):
      prod = prod * int(s[j])
    if prod > maxprod:
      maxprod = prod
      loc = i
    i = i +1

print (s[loc:loc+13] , maxprod)

5576689664895 23514624000

<p>There exists exactly one Pythagorean triplet for which $a + b + c = 1000$.<br>Find the product $abc$.</p>

In [ ]:
#wlog a < b < c

N = 1000

breakOuter = False
for a in range(1,int(N/3)+1):
  if breakOuter:
    break
  for b in range(a+1,int((N-a)/2)+1):
    c = N - a - b
    if (c * c == a*a + b*b  ):
      print (a,b,c)
      print (a*b*c)
      breakOuter = True
      break

200 375 425
31875000

Find the sum of all the primes below two million.

In [ ]:
i = 3
s=2

while (i < 2e6):
  if is_prime(i):
    s+=i
  i = i + 2

print(s)

142913828922

In [ ]:
primes = [2,3,5]

i =6
while ( i< 2e6):
  isP = True
  for p in primes:
    if p*p > i :
      break
    if i%p == 0 :
      isP = False
      break
  if isP:
    primes.append(i)
  i = i + 1

print(sum(primes))

142913828922

<p>What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the $20 \times 20$ grid?</p>

In [ ]:
grid = """
08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50
32 98 81 28 64 23 67 10 26 38 40 67 59 54 70 66 18 38 64 70
67 26 20 68 02 62 12 20 95 63 94 39 63 08 40 91 66 49 94 21
24 55 58 05 66 73 99 26 97 17 78 78 96 83 14 88 34 89 63 72
21 36 23 09 75 00 76 44 20 45 35 14 00 61 33 97 34 31 33 95
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48"""

a = [ int(s) for s in grid.split() ]
a_mat = []
for i in range(20):
  a_mat.append( a[i*20:i*20+20])

maxprod = -1

for i in range(20):
  for j in range(20):
    #se
    if i+3 < 20 and j+3 < 20 :
      p =a_mat[i][j] * a_mat[i+1][j+1] * a_mat[i+2][j+2] * a_mat[i+3][j+3]
      if p > maxprod :
        maxprod = p
    #nw
    if i-3 >0 and j-3 >  0 :
      p =a_mat[i][j] * a_mat[i-1][j-1] * a_mat[i-2][j-2] * a_mat[i-3][j-3]
      if p > maxprod :
        maxprod = p
    #sw
    if i+3 < 20 and j-3 >  0 :
      p =a_mat[i][j] * a_mat[i+1][j-1] * a_mat[i+2][j-2] * a_mat[i+3][j-3]
      if p > maxprod :
        maxprod = p
    #ne
    if i-3 >0 and j+3 < 20 :
      p =a_mat[i][j] * a_mat[i-1][j+1] * a_mat[i-2][j+2] * a_mat[i-3][j+3]
      if p > maxprod :
        maxprod = p

print(maxprod)

70600674

<p>What is the value of the first triangle number to have over five hundred divisors?</p>

In [ ]:
s = 0
n = 0

while True:
  n = n +1
  s = s+ n
  d = prime_Factorize(s)
  nFactors = 1
  for t in d :
    nFactors = nFactors* ( d[t] + 1 )

  if nFactors > 500:
    print( s)
    break

76576500

<p>Work out the first ten digits of the sum of the following one-hundred $50$-digit numbers.</p>

In [ ]:
s = """37107287533902102798797998220837590246510135740250
46376937677490009712648124896970078050417018260538
74324986199524741059474233309513058123726617309629
91942213363574161572522430563301811072406154908250
23067588207539346171171980310421047513778063246676
89261670696623633820136378418383684178734361726757
28112879812849979408065481931592621691275889832738
44274228917432520321923589422876796487670272189318
47451445736001306439091167216856844588711603153276
70386486105843025439939619828917593665686757934951
62176457141856560629502157223196586755079324193331
64906352462741904929101432445813822663347944758178
92575867718337217661963751590579239728245598838407
58203565325359399008402633568948830189458628227828
80181199384826282014278194139940567587151170094390
35398664372827112653829987240784473053190104293586
86515506006295864861532075273371959191420517255829
71693888707715466499115593487603532921714970056938
54370070576826684624621495650076471787294438377604
53282654108756828443191190634694037855217779295145
36123272525000296071075082563815656710885258350721
45876576172410976447339110607218265236877223636045
17423706905851860660448207621209813287860733969412
81142660418086830619328460811191061556940512689692
51934325451728388641918047049293215058642563049483
62467221648435076201727918039944693004732956340691
15732444386908125794514089057706229429197107928209
55037687525678773091862540744969844508330393682126
18336384825330154686196124348767681297534375946515
80386287592878490201521685554828717201219257766954
78182833757993103614740356856449095527097864797581
16726320100436897842553539920931837441497806860984
48403098129077791799088218795327364475675590848030
87086987551392711854517078544161852424320693150332
59959406895756536782107074926966537676326235447210
69793950679652694742597709739166693763042633987085
41052684708299085211399427365734116182760315001271
65378607361501080857009149939512557028198746004375
35829035317434717326932123578154982629742552737307
94953759765105305946966067683156574377167401875275
88902802571733229619176668713819931811048770190271
25267680276078003013678680992525463401061632866526
36270218540497705585629946580636237993140746255962
24074486908231174977792365466257246923322810917141
91430288197103288597806669760892938638285025333403
34413065578016127815921815005561868836468420090470
23053081172816430487623791969842487255036638784583
11487696932154902810424020138335124462181441773470
63783299490636259666498587618221225225512486764533
67720186971698544312419572409913959008952310058822
95548255300263520781532296796249481641953868218774
76085327132285723110424803456124867697064507995236
37774242535411291684276865538926205024910326572967
23701913275725675285653248258265463092207058596522
29798860272258331913126375147341994889534765745501
18495701454879288984856827726077713721403798879715
38298203783031473527721580348144513491373226651381
34829543829199918180278916522431027392251122869539
40957953066405232632538044100059654939159879593635
29746152185502371307642255121183693803580388584903
41698116222072977186158236678424689157993532961922
62467957194401269043877107275048102390895523597457
23189706772547915061505504953922979530901129967519
86188088225875314529584099251203829009407770775672
11306739708304724483816533873502340845647058077308
82959174767140363198008187129011875491310547126581
97623331044818386269515456334926366572897563400500
42846280183517070527831839425882145521227251250327
55121603546981200581762165212827652751691296897789
32238195734329339946437501907836945765883352399886
75506164965184775180738168837861091527357929701337
62177842752192623401942399639168044983993173312731
32924185707147349566916674687634660915035914677504
99518671430235219628894890102423325116913619626622
73267460800591547471830798392868535206946944540724
76841822524674417161514036427982273348055556214818
97142617910342598647204516893989422179826088076852
87783646182799346313767754307809363333018982642090
10848802521674670883215120185883543223812876952786
71329612474782464538636993009049310363619763878039
62184073572399794223406235393808339651327408011116
66627891981488087797941876876144230030984490851411
60661826293682836764744779239180335110989069790714
85786944089552990653640447425576083659976645795096
66024396409905389607120198219976047599490197230297
64913982680032973156037120041377903785566085089252
16730939319872750275468906903707539413042652315011
94809377245048795150954100921645863754710598436791
78639167021187492431995700641917969777599028300699
15368713711936614952811305876380278410754449733078
40789923115535562561142322423255033685442488917353
44889911501440648020369068063960672322193204149535
41503128880339536053299340368006977710650566631954
81234880673210146739058568557934581403627822703280
82616570773948327592232845941706525094512325230608
22918802058777319719839450180888072429661980811197
77158542502016545090413245809786882778948721859617
72107838435069186155435662884062257473692284509516
20849603980134001723930671666823555245252804609722
53503534226472524250874054075591789781264330331690"""

nums = s.split()

tot = 0
for num in nums:
  tot += int(num)

g= str(tot)
print(g[0:10])

5537376230390876637302048746832985971773659831892672
5537376230

<p>Which starting number, under one million, produces the longest collatz chain?</p>

In [ ]:
def len_collatz(x):
  n = 1
  while x != 1 :
    x = x/2 if x%2 == 0 else 3*x+1
    n = n + 1
  return n

maxlen = 1
loc = -1

for i in range(1,int(1e6)):
  l = len_collatz(i)
  if l > maxlen:
    loc = i
    maxlen = l

print (loc, maxlen)

837799 525

In [ ]:
#memoize

d = {}
d[1] = 1

for i in range (1,1000):
  d[i] = len_collatz(i)

def len_collatz(x):
  n = 1
  while x != 1 :
    x = x/2 if x%2 == 0 else 3*x+1
    if x in d :
      n = n + d[x]
      break
    else:
      n = n + 1
  return n

maxlen = 1
loc = -1

for i in range(1,int(1e6)):
  l = len_collatz(i)
  if l > maxlen:
    loc = i
    maxlen = l

print (loc, maxlen)

837799 525

<p>Starting in the top left corner of a $2 \times 2$ grid, and only being able to move to the right and down, there are exactly $6$ routes to the bottom right corner.</p><p>How many such routes are there through a $20 \times 20$ grid?</p>

In [ ]:
#just a combinatorics problem  ?
# C(40,20) = 40! / 20! / 20! gives the answer

from math import comb
print ( comb(40,20) )

def prettyPrintGrid(grid, n):
  for i in range(n):
    print( grid[i])

# build out grid

N= 21
# grid =[[0]*N]*N
grid = []
for i in range (N):
  grid.append( [0]*N )
for i in range(N):
  grid[i][N-1] = 1
  grid[N-1][i] = 1

for i in range(N-2,-1,-1):
  for j in range(N-2,-1,-1):
    grid[i][j] = grid[i+1][j]+grid[i][j+1]

#prettyPrintGrid (grid, N)
print( grid[0][0])

137846528820
137846528820

<p>What is the sum of the digits of the number $2^{1000}$?</p>

In [ ]:
n = 2**1000
s = str(n)
print ( sum ( int(t) for t in s ))

1366

<p>If all the numbers from $1$ to $1000$ (one thousand) inclusive were written out in words, how many letters would be used? </p>

In [ ]:
ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", \
        "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen" ]
tens = ["", "", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety" ]

def numtowords(n):
  if n == 0:
    return ""
  if n < 20:
    return ones[n]
  if n < 100:
    a = tens[int(n/10)]
    b = ones[n%10]
    return a+( "" if n%10==0 else "-"+ b )
  if n < 1000:
    return ones[ int(n/100)] + " hundred" + ("" if n%100 == 0 else " and " + numtowords(n%100))
  if n < 10000:
    return ones[ int(n/1000)] + " thousand" + ("" if n%1000 == 0 else " " + numtowords(n%1000))

t=0
for i in range(1,1001):
  s = numtowords(i)
  #print(s)
  s = s.replace(" ","")
  s = s.replace("-","")
  t += len(s)

print(t)

21124

<p>Find the maximum total from top to bottom of the triangle below:</p>

In [ ]:
grid = """75
95 64
17 47 82
18 35 87 10
20 04 82 47 65
19 01 23 75 03 34
88 02 77 73 07 63 67
99 65 04 28 06 16 70 92
41 41 26 56 83 40 80 70 33
41 48 72 33 47 32 37 16 94 29
53 71 44 65 25 43 91 52 97 51 14
70 11 33 28 77 73 17 78 39 68 17 57
91 71 52 38 17 14 91 43 58 50 27 29 48
63 66 04 68 89 53 67 30 73 16 69 87 40 31
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23"""

triangle = []
lPath = []
for row in grid.split("\n"):
  triangle.append([int(x) for x in row.split()])
  lPath.append( [ -1 for x in row.split() ])

N = len(lPath)
for j in range(N):
  lPath[N-1][j] = triangle[N-1][j]

for i in range(N-2,-1,-1):
  for j in range(i+1):
    lPath[i][j] = triangle[i][j] + max(lPath[i+1][j], lPath[i+1][j+1])

print (lPath[0][0])

1074

</ul><p>How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?</p>

In [ ]:
mthdays = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30 , 31]

class dateclass:
  def __init__(self):
    self.year = 1900
    self.month = 1
    self.day = 1
    self.weekday = 1 # sun == 0

  def increment(self):
    isLY = False
    if self.year % 4 == 0 :
      isLY = True
      if self.year % 100 == 0 and self.year % 400 != 0 :
        isLY = False

    daysinyr = 366 if isLY else 365
    mthdays[1] = 29 if isLY else 28

    if self.month == 12 and self.day == 31:
      self.year +=1
      self.month = 1
      self.day = 1
    elif mthdays[self.month-1] == self.day:
      self.month += 1
      self.day = 1
    else:
      self.day += 1
    self.weekday = (self.weekday+1)%7

  def printdt(self):
    print("Today is " , self.weekday , " " , self.year , " " , self.month , " " , self.day )

dt = dateclass()

cnt =0
while True:
  if dt.year == 1901 and dt.month == 1 and dt.day == 1:
    cnt = 0
  if dt.day == 1 and dt.weekday == 0:
    cnt += 1
  dt.increment()
  if dt.year == 2001:
    break

print(cnt)

171

<p>Find the sum of the digits in the number $100!$.</p>

In [ ]:
import math

print( sum( int(x) for x in str(math.factorial(100)) ) )

648

<p>Evaluate the sum of all the amicable numbers under $10000$.</p>

In [31]:
import math
def sumProperDivisors(n):
  f = 1
  for i in range(2,int(math.sqrt(n))+1):
    if n%i == 0:
      f += i
      if i*i != n :
        f += (n/i)
  return (f)

t = 0
for i in range(2,10000):
  a= sumProperDivisors(i)
  if i < 10000:
    b = sumProperDivisors(a)
  if i == b and i != a :
    t += i

print(t)

31626

<p>What is the total of all the name scores in the file?</p>

https://saturncloud.io/blog/how-to-use-google-colab-to-work-with-local-files/

In [8]:
with open('0022_names.txt', 'r') as f:
    s= f.read()

s= s.replace("\"","")
words = s.split(",")
words.sort()

def vval(n):
  return sum ((ord(x)-ord('A')+1) for x in n )

print(vval("COLIN"))

i = 0
tot = 0
for w in words:
  i = i+1
  tot += i * vval(w)

print(tot)

53
871198282

<p>Find the sum of all the positive integers which cannot be written as the sum of two abundant numbers.</p>

In [47]:
import math

N = 30000
t = 0

isAbundantSum = [0]*(N)

abundant = []
for i in range(2,N):
  if sumProperDivisors(i) > i :
    abundant.append(i)
    for y in abundant:
      if i + y < N:
        isAbundantSum[i+y] = i+y
      else:
        break

print ( (N-1)*N/2 - sum(isAbundantSum))

4179871.0

<p>What is the millionth lexicographic permutation of the digits 0, 1, 2, 3, 4, 5, 6, 7, 8 and 9?</p>

In [14]:
s = "0123456789"
s= "012"

def nextPerm(s):
  n=len(s)
  i = n-1
  while i > 0 and s[i-1] > s[i] :
    i = i -1
  if ( i == 0 ):
    raise Exception("End reached!!")
  else:
    tmp = s[i-1]+s[i+1:n]
    nxt = s[0:i-1] + s[i] + "".join ( sorted([x for x in tmp]))
    return nxt

while True:
  try:
    s=nextPerm(s)
    print(s)
  except:
    break

021
201
210